head
  title=title
  meta( name='viewport' content='width=device-width, initial-scale=1.0')
  link( rel='stylesheet' href='/js/libs/bootstrap/dist/css/bootstrap.css' type='text/css')

  script( src='/js/libs/requirejs/require.js' data-main='/js/app.js')
