.navbar.navbar-default( role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand( href='/') ToxicTimer
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a( href='/Timer') Timer
      